<h1>Members of the <%= @nation %> </h1>

<h3>Totla Members: <%= @members.total_members %> </h3>

<table id="first-25">
  <% @members.make_members.each do |member| %>
    <tr>
      <td><%= image_tag "#{member.photo}" %><td>
      <td><b>Name: <%= member.name %></b><td>
      <td>Allies: <%= member.allies %> </td>
      <td>Enemies: <%= member.enemies %> </td>
      <td>Affilitaion: <%= member.affiliation %> </td>
      <br><br>
    </tr>
  <% end %>
</table>
